# 这是git忽略列表，push到git时忽略不需要上传的文件
*~
.DS_Store
.idea
*.zip
.git
.sass-cache
node_modules/*
bower_components/*
#修改bower安装的三方组件
src/static/js/plugins/*
src/upload/*
dist/*
npm-debug.log*
npm-debug.log*
zymk.sublime-workspace