@import 'config';
.uc-aside-nav{
  // border-bottom: 1px solid lighten(colors(gray), 5%);
  &>.title{
    font-size: fonts(size) * 1.6;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    background-color: colors(light);
    border: 1px solid lighten(colors(gray), 5%);
    border-width: 1px 0;
    @include first-child{
      border-top: 0;
    }
  }
  .nav-list{
    background-color: colors(white);
    .item{
      display: block;
      height: 36px;
      line-height: 36px;
      padding: 0 10px;
      font-size: fonts(size) * 1.2;
      border-bottom: 1px dotted colors(light);
      &.active{
        border-bottom-color: lighten(colors(primary), 10%);
        background-color: lighten(colors(primary), 10%);
      }
      &:hover{
        border-bottom-color: lighten(colors(primary), 30%);
        background-color: lighten(colors(primary), 30%);
      }
      @include last-child{
        border-bottom: 0;
      }
    }
  }
}
.uc-box{
  &>.hd{
    height: 40px;
    border-bottom: 1px dotted colors(gray);
    .title{
      font-size: fonts(size) * 1.6;
      padding-top: 0;
    }
  }
  &>.bd{
    
  }
}

.pinglun, .summary{
  &>.hd{
    border-bottom: 1px solid colors(gray);
  }
}

.pic-list{
  li{
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 10px;
    @include last-child{
      margin-right: 0;
    }
    .image,.thumbnail{
      display: block;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius:50%;
      overflow: hidden;
      img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius:50%;
      }
    }
    .thumbnail{
      padding-bottom: 133.3333%;
    }
    .chapters, .mask{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 20px;
    }
    .mask{
      background-image: linear-gradient(to bottom,rgba(colors(black),0),rgba(colors(black),.75));
    }
    .chapters{
      @include ellipsis;
      padding: 0 4px;
      line-height: 20px;
      color: colors(white);
      font-size: fonts(size) *  1.2;
      text-align: center;
    }

  }
}
.list{
  li{
    height: 30px;
    padding-left: 13px;
    line-height: 30px;
    font-size: fonts(size) * 1.4;
    color: colors(dark);
    overflow: hidden;
    &:before{
      content:'\2022';
      font-size: fonts(size);
      color: colors(gray);
      margin-right: 4px;
    }
  }
  .ip,.del{
    display:none;
  }
}
.user-center{
  padding: 20px 0;
}
.user-info{
  padding: 20px 0 0 120px;
  .user-head{
    float: left;
    display: inline-block;
    width: 100px;
    margin-left: -120px;
    padding: 1px;
    background-color: colors(white);
    border: 1px solid colors(gray);
  }
  dt,dd{
    float: left;
    font-size: fonts(size) * 1.4;
    height: 20px;
    margin-top: 5px;
  }
  dt{
    width: 14%;
    padding-right: 1%;
    color: colors(dark);
    text-align: right;
  }
  dd{
    width: 35%;
    font-size: fonts(size) * 1.4;
  }
}



