@charset "UTF-8";
//进度样式
%progress{
	height: 10px;
	line-height: 10px;
	// overflow: hidden;
	vertical-align: middle;
	span{
		display:inline-block;
	}
	.per-bar{
		width: 100%;
		height: 10px;
		line-height: 1;
		vertical-align:top;
		// border:1px solid lighten(colors(gray),2%);
		background-color: lighten(colors(gray),5%);
		// background-image:linear-gradient(top,lighten(colors(gray),10%) lighten(colors(gray),5%));
		border-radius:5px;
		overflow: hidden;
		.per{
			float:left;
			height: 10px;
			background-color: colors(green);
			// background-image:linear-gradient(-45deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
			background-image:linear-gradient(-45deg, rgba(colors(white), .3) 25%, transparent 25%, transparent 50%, rgba(colors(white), .3) 50%, rgba(colors(white), .3) 75%, transparent 75%, transparent);
			background-size: 30px 30px;
		}
	}	
	.per-num{
		font-size: fonts(size) * 1.2;
	}
}