@charset "utf-8";
.browser{
	display: none;
	position: relative;
	width: 600px;
	padding: 20px;
	font-size: fonts(size) * 1.4;
	background-color: colors(white);
	border-radius:radius(L);
	.title{
		line-height: 1.5;
		text-align: center;
		font-size: fonts(size) * 2.4;
		color: colors(primary);
		margin-bottom: 16px;
	}
	.synopsis{
		text-indent: 2em;
		margin-bottom: 16px;
		line-height: 1.5;
	}
	ul{
		height: 72px;
		margin-bottom: 16px;
		li{
			float:left;
			width: 20%;
			text-align: center;
		}
	}
	dt{
		font-size: fonts(size) * 1.6;
		color: colors(primary);
		margin-bottom: 8px;
	}
	dd{
		line-height: 1.5;
		a{
			margin-right: 12px;
		}
	}
	.close{
		right: -16px;
		top: -16px;
		@extend %close;
	}
}