@charset "UTF-8";
.top-padding{
	padding-top: 72px;
	background: url('/static/images/header_bg.jpg') center top no-repeat;
}
#header{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	width: 100%;
	height:68px;
	padding-top: 4px;
	background-image: linear-gradient(rgba(0,0,0,1),transparent);
	.aside{
		@include float(right);
	}
	//网站logo
	@at-root{
		#logo{
			float:left;
			display:block;
			margin-top: 4px;
			height:48px;
			.figuire{
				float:left;
			}
			.slogo{
				display: none;
				color: colors(primary);
			}
		  [class^="ift-"]{
		    // font-size: fonts(size) * 6.4;
		    color:colors(primary);
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    -webkit-text-stroke-width: none;
		  }
		}
		#nav{
			@include float;
			position: relative;
			height: 40px;
			margin:8px 0 0 32px;
			li{
				@include float;				
				height: 40px;
				line-height: 40px;
				font-size: fonts(size) * 1.6;				
				&:active{
					a{
						color: colors(primary);
					}
				}
				
			}
			a{
				transition:.3s ease-in;
				padding: 0 8px;
				color: colors(white);
			}
			.modify{
				content: "";
				position: absolute;
				left: 10px;
				bottom: 0;
				width: 32px;
				height: 3px;
				background-color: colors(primary);
			}
		}
		#aside-nav{
			// display: none;
			float:left;
			&>li{
				float:left;
				width:56px;
				height: 56px;
				padding-left: 10px;
			}
			.user{
				position: relative;
				height:80px;
				margin-bottom: -24px;
				&:hover{
					&>.hd{
						position: relative;
						z-index: 1;
					}
					&>.bd{
						// display: block;
						visibility: visible;
					}
				}
				@at-root {
					&>.hd{
						width:56px;
						height:56px;
						line-height: 56px;
						background-color: colors(primary);
						// background-color: rgba(colors(black),.5);
						border-radius:50%;
						// @include opacity(50);
						.ift-user{
							display:block;
							text-align: center;
							font-size: fonts(size) * 3.2;
							color: colors(white);
							font-weight: bold;
							@include opacity(75);
						}
						.thumbnail{
							float: left;
							width: 56px;
							height: 56px;
							border-radius: 50%;
						}
					}
					&>.bd{
						// display: none;
						visibility: hidden;
						position: absolute;
						right: 0;
						top: 72px;
						width: 280px;
						max-height: 403px;
						background-color:colors(white);
						border-radius:3px;
						&:before{
							position:absolute;
							top: -9px;
							right: 19px;
							@include triangle(top, 9px, colors(light))
						}
						&:after{
							content:'';
							position: absolute;
							z-index: 0;
							top: -24px;
							left: 0;
							width: 100%;
							height: 24px;
							// background-color: #FFF;
						}
						.logout,.clean{
							position: absolute;
							height:30px;
							line-height: 30px;
							font-size: fonts(size)*1.2;
							cursor: pointer;
						}
						.logout{
							left: 10px;
						}
						.clean{
							right: 10px;

						}
					}
					&-collect,&-history{
						.scroll{
							position: relative;
							.no-info{
								position: absolute;
								width: 100%;
								top: 50%;
								height: 40px;
								margin-top: -20px;
								line-height:20px;
								font-size: fonts(size) * 1.2;
								color: colors(gray);
								text-align: center;
							}
						}
						.comic-list{
							margin: 0;
							padding: 0;
						}
						.opt-del{
							display: none;
							position: absolute;
							top: 0;
							right: 0;
							height: 20px;
							line-height: 20px;
							cursor: pointer;
							border-top-right-radius: 3px;
							border-bottom-left-radius: 3px;
							.ift-del,.text{
								font-size: fonts(size) * 1.2;
								display: block;
							}
							.ift-del{
								width: 20px;
								text-align: center;
								display: none\9;
							}
							.text{
								display: none;
								display: block\9;
							}
						}
					}
					&-collect{
						.scroll{
							height: 235px;
							padding-right: 15px;
							overflow:auto;
						}
						.item{
							position: relative;
							@include float;
							width: 31%;
							margin:1.75% 3.5% 1.75% 0;
							overflow: hidden;
							font-size: fonts(size) * 1.4;
							@include nth-child(3n){
								margin-right:0;
							};
							&:hover{
								.opt-del{
									display: block;
								}
							}
							.group-info{
								height: 20px;
								.title{
									float:none;
									height: 20px;
									line-height: 20px;
									padding-left: 5px;
									font-size: fonts(size) * 1.2;
								}
							}
						}
						.opt-del{
							background-color: colors(black);
							@include opacity(95);
							color: colors(white);
							&:hover{
								color: colors(primary);
							}
						}
					}
					&-history{
						.scroll{
							height: 235px;
							padding-right: 15px;
							overflow:auto;
						}
						.item {
							@extend %clearfix;
							padding: 5px 0;
							border-bottom: 1px dotted lighten(colors(gray), 5%);
							@include last-child(){
								border-bottom:0;
							}
							.info{
								position: relative;
								margin-left: 83px;
							}
							.title{
								height:28px;
								line-height:28px;
								margin:4px 0 0 0;
								color: colors(auxiliary);
								font-size: fonts(size) * 1.4;
							}
							.time,.attr{
								font-size: fonts(size) * 1.2;
								line-height: 20px;
							}
							.time,.attr-label{
								color: colors(gray);
							}
							.time{
								@include reset-float;
							}
							.attr{
								color: colors(darker);
							}
							&:hover{
								.opt-del{
									display: block;
								}
							}
						}
						.thumbnail{
							float:left;
							width: 75px;
							height: 100px;
							padding-bottom: 0;
						}
						.opt-del{
							color: colors(dark);
							&:hover{
								color: colors(primary);
							}
						}
					}
					& .tabs{
						&>.hd, &>.bd{
							border: 0;
						}
						&>.bd{
						  padding: 0;
						  margin: 5px 0 5px 10px;
						}
					}
				}
			}
			.mobile-web{
				margin: 8px 0 8px 10px;
				width: 40px;
				height: 40px;
				padding-left: 0;
				margin-left: 10px;
				border-radius:50%;
				// background-color: darken(colors(yellow),15%);
				background-color: #fee385;
				.ift-phone{
					display: block;
					line-height: 40px;
					text-align: center;
					font-size: fonts(size) * 2.4;
				}
			}

			.tabs{
				box-shadow: 0 0 8px rgba(colors(black),.2);
				@at-root{
					&>.hd{
						height: 30px;
						background-color: colors(light);
						border-radius: 3px 3px 0 0;
						ul{
							width: 60%;
							margin: 0 auto;
						}
						li{
							width: 50%;
							margin:0;
						  padding: 0;
							line-height:30px;
						}
						&:before,.modify{
							left: calc(25%)
						}
					}
					&>.ft{
						height: 30px;
						border-top: 1px solid lighten(colors(gray), 5%);
						line-height:30px;
						font-size: fonts(size) * 1.2;
						background-color: colors(light);
						text-align: center;
						border-radius: 0 0 3px 3px;
					}
				}
			}
		}
	}
}


