@charset "UTF-8";
//友情链接
.link{
  margin-top: 40px;
  background-color: colors(light);
}
.link + #footer{
  margin-top: 0;
}
.partner{
  // @extend %clearfix;
  &>.item{
    position: relative;
    float: left;
    width: 12.4%;
    *width: 12%;
    height: 64px;
    margin-right: 2.2%;
    @include last-child{
      margin-right: 0;
    }
    img{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
    }
  }
}

.link-list{
  margin-bottom: 24px;
  &>.item{
    float: left;
    margin-right: 16px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

