@charset "UTF-8";
.loading {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(colors(black), .25);
  .spinner {
	  width: 32px;
	  height: 32px;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  margin: -16px;
	}
	.spinner-container {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}
	.circle1 {
	  top: 0;
	  left: 0;
	}

	.circle2 {
	  top: 0;
	  right: 0;
	}

	.circle3 {
	  right: 0;
	  bottom: 0;
	}

	.circle4 {
	  left: 0;
	  bottom: 0;
	}
	.container1,.container2,.container3{
		div{
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: colors(primary);
			border-radius:100%;
			@include animation(bouncedelay 1.2s infinite ease-in-out);
			@include animation-fill-mode(both);
		}
	}
	.container1{
		.circle2{
			@include animation-delay(-0.9s);
		}
		.circle3{
			@include animation-delay(-0.6s);
		}
		.circle4{
			@include animation-delay(-0.3s);
		}
	}
	.container2 {
		transform:rotateZ(45deg);
		.circle1{
			@include animation-delay(-1.1s);
		}
		.circle2{
			@include animation-delay(-0.8s);
		}
		.circle3{
			@include animation-delay(-0.5s);
		}
		.circle4{
			@include animation-delay(-0.2s);
		}
	}
	.container3 {
		transform:rotateZ(90deg);
		.circle1{
			@include animation-delay(-1.1s);
		}
		.circle2{
			@include animation-delay(-0.7s);
		}
		.circle3{
			@include animation-delay(-0.4s);
		}
		.circle4{
			@include animation-delay(-0.1s);
		}
	}	
}

@include keyframes(bouncedelay){
	0%, 80%, 100% {
	  transform:scale(0.0);
	}
	40% {
	  transform:scale(1.0);
	}
};
