@charset "utf-8";
.pages{
	text-align:center;
	color: colors(gray);
	a,span{
		display: inline-block;
		width:40px;
		height:40px;
		margin: 0 8px;
		line-height:40px;
		font-size:fonts(size) * 1.8;
		text-align:center;
		color: colors(darker);
		font-family:Arial;
		border-radius:50%;
		vertical-align: middle;
		transition: .3s ease-in-out;
		&.prev,&.next{
			background-color: colors(gray);
			color: colors(white);
			font-family: fonts(cn);
			font-size:fonts(size) * 2.4;
		}
	}
	a:hover{
		color: colors(auxiliary);
		&.prev,&.next{
			color: colors(white);
			background-color: colors(primary);
		}
	}
	span{
		color: colors(dark);
		cursor: not-allowed;
		&.active{
			color: colors(white);
			background-color: colors(primary); 
		}
	}
}
