@charset "utf-8";
.pages{
	text-align:center;
	color: colors(gray);
	a,span{
		display: inline-block;
		min-width:30px;
		padding: 0 5px;
		height:40px;
		margin: 0 8px;
		line-height:40px;
		font-size:fonts(size) * 1.8;
		text-align:center;
		color: colors(darker);
		font-family:Arial;
		border-radius:20px;
		vertical-align: middle;
		transition: .3s ease-in-out;
		&.prev,&.next{
			font-family: fonts(cn);
			font-size:fonts(size) * 2.4;
			color: colors(white);
		}
	}
	span{
		&.prev,&.next{
			// color: colors(dark);
			background-color: colors(gray);
		}
	}
	a{
		&.prev,&.next{
			background-color: colors(primary); 
		}
	}
	a:hover{
		color: colors(auxiliary);
		&.prev,&.next{
			color: colors(white);
			background-color: colors(primary);
		}
	}
	span{
		color: colors(dark);
		cursor: not-allowed;
		&.active{
			color: colors(white);
			background-color: colors(primary); 
		}
	}
	[class^="ift-"]{
		display: inline-block;
		width: 30px;
		vertical-align: top;
		line-height: 40px;
		font-size: fonts(size) * 2;
	}
}
