@charset "UTF-8";
// 密码强度样式
.pw-strength{
	// width:210px;
	height:16px;
	margin-top:5px;
	font-size: fonts(size) * 1.2;
	background-color:colors(gray);
	position:relative;
	overflow:hidden;
	.pw-letter{
		position:absolute;
		width: 100%;
		left:0;
		top:0;
	}
	span{
		display: block;
		float:left;
		width:33.3%;
		height:16px;      
		line-height:16px;
		text-align:center;      
		color:colors(white);
		border-right:1px solid colors(white);
		box-sizing:border-box;
	}
	.pw-bar{
		width:0;
		height:16px;
		overflow:hidden;			
		transition:width 0.4s ease-in;
	}
	.pw-weak{
		// width:70px;
		width:33.33333%;
		background-color:colors(red);
	}
	.pw-medium{
		// width:140px;
		width:66.66666%;
		background-color:colors(orange);
	}
	.pw-strong{
		// width:210px;
		width:100%;
		background-color:colors(green);
	}
}