@charset "UTF-8";
//弹出盒子样式
.pop,.pop-mask{
	display:none;
}
.pop-mask{
	position:fixed;
	left:0; top:0;
	z-index:zIndex(alert) - 1;
	width:100%;
	height:100%;
	background:colors(black);
	opacity:.15;
}
.pop{
	position:absolute;
	left:50%;
	top:10%;
	z-index:zIndex(alert);	
	margin:0 -300px;
	background-color:colors(white);
	//border-radius:radius(S);	
	box-shadow:0 0 20px rgba(colors(black;, 0.5));
	//overflow: hidden;
	.pop-hd{
		height:32px;
		padding:4px 10px;
		border-bottom: 1px solid colors(gray);
		background-color: colors(light);
		h2{
			height:32px;
			line-height: 32px;
			font-size:fonts(size) * 1.6;
			font-weight: bold;
			color:colors(darker);
			line-height:30px;
			vertical-align: bottom;
		}
		.J_close{
			position:absolute;
			right:10px;
			top:10px;
			cursor:pointer;
		}
	}
	.pop-bd{
		background:colors(white);
		padding:20px;
	}
}
