@import "../vendor/normalize"; // 同意所有阅览器默认样式
body{
	font-size: fonts(size) * 1.6;
	color:colors(darker);
	font-family: fonts(family);
	// background-color: colors(light);
}
*,ul,ol,dl{padding:0;margin:0}
a{
	text-decoration: none;
	@include link-colors(colors(darker),colors(primary));
}
img{ vertical-align: middle;}
hr{
	border:0;
	border-bottom:1px dotted colors(gray);
	height:1px;
	margin:10px 0 9px 0;
	*margin:3px 0 2px 0;
}
li{list-style:none;}

// 这是注释

// .ycg{
// 	color:#000;
// }