@charset "UTF-8";
.scroller{
	$scrolW: 8px;
	$scrollH: 192px;
	position: relative;
	.scrollerCon{
		position: relative;
		height: $scrollH;
		overflow: hidden;
	}
	.scrollbar{
		// display: none;
	    width: $scrolW;
	    height: $scrollH;
	    position: absolute;
	    right: -5px;
	    top: 0;
	    .track {
	        width: ($scrolW / 5);
	        height: $scrollH;
	        margin: 0 auto;
	        background-color: lighten(colors(auxiliary),40%);
	    }
	    .handle{
	        position: absolute;
	        left: 0;
	        top: 0;
	        width: $scrolW;
	        height: 32px;
	        overflow: hidden;
	        cursor: pointer;
	        background:lighten(colors(blue),20%) url('skin/scorllBar.png') repeat-x left center;
	        border-radius:radius(S);
			&:hover{
				background-color: lighten(colors(blue),10%)
			}
	    }
	}
}