@charset "UTF-8";
//站内搜索
.search{
	margin-top: 12px;
	float:left;
	@at-root{
		&>.bd{
			position: relative;
			width: 140px;
			height: 32px;
			.input{
				width:100%;
				height:32px;
				outline:none;
				padding:8px 32px 8px 8px;
				border:1px solid rgba(colors(white),.3);
				border-radius:16px;
				font-size:fonts(size) * 1.2;
				font-family: fonts(family);
				color:colors(light);
				background: transparent;
				box-sizing:border-box;
				&::placeholder{
					color: colors(light)
				}
			}
		}
		&-submit{
			position: absolute;
			right:0;
			top:0;
			width:32px;
			height:32px;
			border:none;
			padding:0;
			line-height: 32px;
			font-size: fonts(size) * 1.6;
			text-align: center;
			color: colors(white);
			background: transparent;
			cursor: pointer;
			border-radius: 0;
			cursor: pointer;
			outline: none;
		}
		.ift-search{
			color:colors(white);
			padding:8px;
			font-size: fonts(size) * 1.8;
			cursor: pointer;
			@include opacity(50);
		}
		/* &:hover .alike{
			display:block;
		} */
		
		&-alike{
			display:none;
			position: absolute;
			left:50%;
			top: 40px;
			right:71px;
			width: 280px;
			margin-left: -140px;
			z-index: zIndex(drop);
			border:1px solid colors(gray);
			font-size: fonts(size) * 1.2;
			background-color:colors(white);
			box-shadow:0 0 5px rgba(0, 0, 0, .6);
			border-radius:3px;
			&:before{
				position:absolute;
				top: -9px;
				left: 50%;
				margin-left: -9px;
				@include triangle(top, 9px, colors(white))
			}
			.no-info{
				text-align: center;
				color: colors(dark);
				padding: 10px 0;
				strong{
					color: colors(primary);
				}
			}
			dt{
				height: 30px;
				padding: 0 10px;
				line-height: 30px;
				background-color:colors(light);
				color: colors(auxiliary);
				font-size: fonts(size) * 1.4;
			}
			.close{
				font-family: fonts(cn);
				font-style: normal;
			}
			.clean{
				float: right;
				font-size: fonts(size) * 1.2;
				color: colors(blue);
				cursor: pointer;
			}
			
		}

		&-recommend{
			margin: 5px 0;
			padding:0 10px;
			max-height: 60px;
			overflow: hidden;
			a{
				height:20px;
				padding: 0 4px;
				line-height: 20px;
				line-height: 18px;
				margin:5px 10px 5px 0;
				display: inline-block;
				border-radius: 3px;
				&.c1,&.c2,&.c3,&.c4,&.c5{
            color: colors(white);
          }
          &.c1{
            background-color:#c78590;
          }
          &.c2{
            background-color:#f3bd7e;
          }
          &.c3{
            background-color:#6ec4e9;
          }
          &.c4{
            background-color:#66c9bb;
          }
          &.c5{
            background-color:#9b9bd5;
          }
			}
			/* a{
				position:relative;
				height:18px;
				line-height: 18px;
				margin:5px 0;
				display: inline-block;
				padding:1px 24px 1px 5px;
				border-radius:3px;
				color: colors(darker);
				overflow: hidden;
				&:hover{
					border:1px solid colors(primary);
					padding:0 23px 0 4px;
					.close{display:block}
				}
				.close{
					display: none;
					width:18px;
					height:18px;
					
					font-size: 12px;
					color: colors(white);
					position:absolute;
					right:0;
					top:0;
					text-align: center;
					background-color:colors(primary)
				}
			} */
		}

		&-history, &-content{
			margin: 5px 0;
			max-height: 186px;
			overflow-y: auto;
			position:relative;
			&>.item{
				display:block;
				height:30px;
				padding: 0 10px;
				line-height:30px;
				color:colors(darker);
				border-bottom: 1px solid colors(light);
				transition: color 0.3s;
				overflow-y: hidden;
				&:last-child{
					border:0;
				}
				&:hover{
					color: colors(primary);
					.close{
						color: colors(primary);
					}
				}
				strong {
					margin: 0 4px;
					color: colors(primary);
				}
			}
			.fr-chapter{
				float: right;
				width: 50%;
				height: 30px;
				line-height: 30px;
				text-align: right;
				overflow-y: hidden;
				color: colors(dark);
				strong{
					font-weight: normal;
				}
			}
			.close{
				float: right;
				margin-left: 4px;
				font-size: fonts(size) * 1.4;
				line-height:30px;
				vertical-align:middle;
				color: colors(gray);
				transition: color 0.3s;
				cursor: pointer;
			}
		}
		
		&-ft{
			height:24px;
			line-height:24px;
			font-size: fonts(size) * 1.2;
			//white-space:nowrap;
			overflow:hidden;
			dt,dd{
				display:inline-block;
			}
			dt{
				font-weight: bold;
			}
			strong{
				margin-right:5px;
				color:colors(dark);
			}
			a{
				margin-left:4px;
				//white-space:nowrap;
				&:hover{
					padding-bottom: 1px;
					border-bottom:1px solid lighten(colors(primary), 30%);
				}
			}	
		}
	}
}

