@charset "UTF-8";
//引入站位scss
@import "placeholder/close"; //close
@import "placeholder/tips"; //提示信息
@import "placeholder/button"; //按钮基础类
@import "placeholder/progress"; //进度条
@import "placeholder/clearfix"; //按钮基础类